
 #loadsStockProduct {
    width: 100%;
    /* overflow-x: scroll; */
}

@media (max-width: 768px) {

    .MyTable th, .MyTable td {
        padding: 0;
        font-size: 10px;
        white-space: break-spaces;
    }

    .MyTable td {
        font-size: 8px;
    }


}
