<div>

    <div id="contentHome" class="MyForm">
  
        <div class="row">

            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Gestión de Inventario</h5>
                  <p class="card-text">Aregar nuevos productos, actualiza precios y existencias.</p>
                  <a class="btn btn-primary" (click)="navigateTo('warehouse')">Ir a</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Clientes</h5>
                  <p class="card-text">Registra tus clientes y configura su lista de precios.</p>
                  <br>
                  <a class="btn btn-primary" (click)="navigateTo('customers')">Ir a</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Ventas Simplificadas</h5>
                    <p class="card-text">Realiza y registra ventas de manera rápida y sencilla.</p>
                    <a class="btn btn-primary" (click)="navigateTo('sale')">Ir a</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Reportes Detallados</h5>
                    <p class="card-text">Visualiza reportes sobre el total de tus ventas.</p>
                    <br>
                    <a class="btn btn-primary" (click)="navigateTo('dashboards')">Ir a</a>
                  </div>
                </div>
            </div>
        </div>

    </div>

        <!-- <div id="newSale" class="feature" title="Nueva venta" (click)="navigateTo('sale')">
            <i class="fa-solid fa-cart-shopping"></i>
            <h2>Nueva venta</h2>
        </div>
        <div id="newProduct" class="feature" title="Nuevo producto" (click)="navigateTo('product')">
            <i class="fa-solid fa-bottle-water"></i>
            <h2>Nuevo producto</h2>
        </div>
        
        <div id="warehouse" class="feature" title="Inventario" (click)="navigateTo('warehouse')"> 
            <i class="fa-solid fa-boxes-stacked"></i>
            <h2>Inventario</h2>
        </div>

        <div id="sales" class="feature" title="Ventas" (click)="navigateTo('sales')">
            <i class="fa-solid fa-cash-register"></i>
            <h2>Ventas</h2>
        </div>

        <div id="prices" class="feature" title="Precios" (click)="navigateTo('prices')">
            <i class="fa-solid fa-money-check-dollar"></i>
            <h2>Precios</h2>
        </div>
        
        <div id="dashboards" class="feature" title="Dashboards" (click)="navigateTo('dashboards')">
            <i class="fa-solid fa-chart-line"></i>
            <h2>Dashboards</h2>
        </div>

    </div> -->
</div>