
.MyForm {
    height: auto !important;
}

.myDashboard {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

h4 {
    padding-top: 10px;
    text-align: center;
}

#totalByDayCurrentMonthInput, #totalByDayByDateRangeInput, #totalByDayCurrentMonthInput {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    height: 80px;
    margin-left: 10px;
}

#salesSummary{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    text-align: center;
}

.saleSummary {
    border:1px solid #ccc;
    border-radius: 12px;
    padding: 25px;
}

.salesSummaryYear {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    column-gap: 50px;
    text-align: center;
}

#totalSummaryToday {
    background: #4bc0c0;
    color: white;
}

#totalSummaryMonth {
    background: #4b6498;
    color: white;
}

@media (max-width:768px){

    #salesSummary{
        grid-template-columns: 100%;
        row-gap: 25px;
    }

    .saleSummary {
        padding: 0;
    }

    .myDashboard {
        row-gap: 50px;
    }

    #totalByDayCurrentMonthInput, #totalByDayByDateRangeInput {
        height: 50px !important;
    }

    #totalByDayCurrentMonthInput .mb-4{
        display: grid;
        grid-template-columns: 20% 60%;
        column-gap: 25px !important;
        max-height: 10px !important;
        align-items: flex-end;
    }

    #totalByDayByDateRangeInput {
        display: flex !important;
        flex-direction: row;
        margin-bottom: 35px;
    }

    #totalByDayByDateRangeInput {
        display: contents;
    }

    #totalByDayByDateRangeInput input{
        width: 140px;
    }

    .MyForm {
        height: auto !important;
    }

    .MyForm h4 {
        margin: 25px !important;
    }


    .scroll-container {
        /* height: 650px; */
        max-width: 335px;
        overflow-x: auto;
        overflow-y: auto;
        position: relative; 
        align-content: center;
    }

    .scroll-container canvas {
        transition: transform .5s;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .scroll-container:hover canvas {
        height: 335px !important;
        width: 650px !important;
    }
}