<div id="index">
    <div class="header">
        <div>
            <h1 class="colorTitle">VentaWareX</h1>
            <br>
            <h3>Gestiona tu negocio de forma sencilla</h3>
        </div>
        <div id="login">
            <a (click)="navigateTo('login')">{{loginText}}</a>
        </div>
    </div>

    <div id="contentIndex">

        <p class="colorTitle">Centraliza la gestión de tu negocio con VentaWareX, todo desde una plataforma unificada y desde cualquier lugar del mundo a través de internet</p>
        <p>Administra de manera eficiente tu inventario, ajusta precios, controla existencias de productos, gestiona tus clientes, supervisa las ventas y genera reportes detallados.</p>

        <div id="articleContainer">
            <article>
                <h4>Inventario</h4>
                <p><small>Mantén un registro actualizado de tus productos, precios y existencias.</small></p>
            </article>
            <article>
                <h4>Clientes</h4>
                <p><small>Administra la información de tus clientes.</small></p>
            </article>
            <article>
                <h4>Ventas</h4>
                <p><small>Registra y analiza tus ventas con facilidad.</small></p>
            </article>
            <article>
                <h4>Reportes</h4>
                <p><small>Obtén reportes detallados y mejora tu estrategia de ventas.</small></p>
            </article>
        </div>

        <p><small>Con VentaWareX no necesitas instalar ningún programa en tu pc, tampoco requieres una pc poderosa, sólo necesitas un navegador compatible, además podrás acceder a gestionar tu negocio desde dispositivos móviles como Android y iOS a través de internet.</small></p>
    </div>

    <footer>
        <p>&copy; 2024 VentaWareX. Todos los derechos reservados.</p>
    </footer>
</div>
