#index {
    display: block;
}

#index p {
    text-align: justify;
}

.header {
    text-align: center;
    align-content: center;
    padding: 50px 0;
    color: white;
    height: 400px;
    /* background: rgb(68, 139, 166);
    background: linear-gradient(290deg, rgba(68, 139, 166, 1) 0%, rgba(0, 21, 46, 1) 0%, rgba(63, 79, 191, 1) 100%); */
    background: rgb(156,170,175);background: linear-gradient(300deg, rgba(156,170,175,1) 0%, rgba(0,6,14,1) 0%, rgba(27,31,54,1) 100%);
}

.header div {
    padding: 10px;
    padding-bottom: 0;
}

.header h1 {
    font-size: 3.5rem !important;
}

.hero h1 {
    margin: 0;
}
.hero p {
    font-size: 20px;
    margin: 20px 0;
}

#contentIndex {
    background: white;
    height: calc(100vh);
    padding: 60px;
}

#contentIndex article{
    margin-top: 25px;
}

#login {
    position: absolute; 
    right: 0;
    margin: 20px;
}

#articleContainer {
    display: flex;
    padding: 50px !important;
}

#articleContainer article {
    padding: 25px;
    text-align: left;
}

#articleContainer article p {
    text-align: left;
}

#articleContainer article h4{
    color: #00060e;
}

footer {
    position: relative;
    background-color: #00060e;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center !important;
}


@media (max-width: 768px) {
    .header h1 {
        font-size: 2.5rem !important;
    }

    #contentIndex {
        padding: 30px;
    }

    #articleContainer {
        display: block;
        padding: 10px !important;
    }
    
    footer {
        position: none;
        /* padding-top: 25px; */
    }

    #contentIndex {
        height: auto;
        padding: 60px;
    }
    
}