<div id="contentHome" class="MyForm">
  
    <div class="row">

        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">

              <h6>VentaWareX beta 1.0</h6>
              <ul>
                  <li>
                    Angular 18.0.4
                  </li>
                  <li>
                    NestJS
                  </li>
                  <li>
                    MySQL 8.0.39
                  </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h6>Recursos adicionales</h6>
              <ul>
                  <li>
                    <a href="https://fontawesome.com/" title="FontAwesome">FontAwesome</a>
                  </li>
                  <li>
                    <a href="https://www.flaticon.es/iconos-gratis/grafico-de-linea" title="gráfico de linea iconos">Gráfico de linea iconos creados por Freepik - Flaticon</a>
                  </li>
              
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>